<mat-card>
  <mat-card-title>
    <p>Cursos</p>
  </mat-card-title>

  <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button (click)="listar()"><mat-icon>list</mat-icon> Listar</button>
  <button mat-button (click)="nuevo()"><mat-icon>school</mat-icon> Nuevo</button>
</mat-card>



<!-- FORMULARIO DE ALTA -->
<mat-card class="card">
  
  <mat-card-title>
    Registro de un curso
  </mat-card-title>

  <mat-card-content>
    <div class="example-container">
      <div class="form-container">
        <form [formGroup]="cursoForm" (submit)="nuevo()">

          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Nombre </mat-label>
            <input matInput formControlName="nombre" required>
            <mat-error *ngIf="cursoForm.controls.nombre.touched && cursoForm.controls.nombre.invalid">
              <span *ngIf="cursoForm.controls.nombre.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>
          

          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Descripcion</mat-label>
            <input matInput formControlName="descripcion">
            <mat-error *ngIf="cursoForm.controls.descripcion.touched && cursoForm.controls.descripcion.invalid">
              <span *ngIf="cursoForm.controls.descripcion.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Publico Destinado</mat-label>
            <input matInput formControlName="publico_destinado">
            <mat-error *ngIf="cursoForm.controls.publico_destinado.touched && cursoForm.controls.publico_destinado.invalid">
              <span *ngIf="cursoForm.controls.publico_destinado.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Requisitos</mat-label>
            <input matInput formControlName="requisitos">
            <mat-error *ngIf="cursoForm.controls.requisitos.touched && cursoForm.controls.requisitos.invalid">
              <span *ngIf="cursoForm.controls.requisitos.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Url imagen de presentacion</mat-label>
            <input matInput formControlName="url_imagen_presentacion">
            <mat-error *ngIf="cursoForm.controls.url_imagen_presentacion.touched && cursoForm.controls.url_imagen_presentacion.invalid">
              <span *ngIf="cursoForm.controls.url_imagen_presentacion.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Url video presentacion</mat-label>
            <input matInput formControlName="url_video_presentacion">
            <mat-error *ngIf="cursoForm.controls.url_video_presentacion.touched && cursoForm.controls.url_video_presentacion.invalid">
              <span *ngIf="cursoForm.controls.url_video_presentacion.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Precio de Inscripcion</mat-label>
            <input matInput formControlName="precio_inscripcion">
            <mat-error *ngIf="cursoForm.controls.precio_inscripcion.touched && cursoForm.controls.precio_inscripcion.invalid">
              <span *ngIf="cursoForm.controls.precio_inscripcion.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Precio por Cuota</mat-label>
            <input matInput formControlName="precio_cuota">
            <mat-error *ngIf="cursoForm.controls.precio_cuota.touched && cursoForm.controls.precio_cuota.invalid">
              <span *ngIf="cursoForm.controls.precio_cuota.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Cantidad de Cuotas</mat-label>
            <input matInput formControlName="cantidad_cuotas">
            <mat-error *ngIf="cursoForm.controls.cantidad_cuotas.touched && cursoForm.controls.cantidad_cuotas.invalid">
              <span *ngIf="cursoForm.controls.cantidad_cuotas.errors.required">Campo obligatorio</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Elija un rubro del curso</mat-label>



            <mat-select [(value)]="selected" formControlName="subrubro">
              <mat-option [value]="subrubro" *ngFor="let subrubro of subrubros">{{subrubro.nombre}}
              </mat-option>
            </mat-select>


            
          </mat-form-field>


          <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
