/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.example-container{
  text-align: center
}

.form-container{
  width: 400 px;
  margin: 0 px auto;
  margin-top: 200 px
}

.form-field{
  display: block
}

.card {
  margin-top: 20px;
}
